@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2vh 10%;
}

.socials, img {
    margin: auto;
}

.socials {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    color: #24252A;
    list-style: none;
}

.socials li {
    padding: 3px 2vh;
}


@media (max-width: 600px) {
    .footer > * {
        flex: 1;
    }
}