@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

footer {
    height: 0px;
}

.footer {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}

.socials,
img {
    margin: auto;
}

.socials {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size  : 10px;
    color      : #24252A;
    list-style : none;
}

.socials li {
    padding: 3px 2vh;
}