@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #24252A;*/

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2vh 10%;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: auto;
    font-size: 30px;
}


nav_links > li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2vh;
    color: #24252A;
    text-decoration: none;
}


.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #004225;
}

.btn, .cancel {
    display: none;
}

@media screen and (max-width: 800px) {
    .logo {
        font-size: 18px;
    }
    .nav_links li {
        display: flex;
        justify-content: flex-start;
        padding: 4px 20px;
    }
}