@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

a,
button {
    font-family    : 'Montserrat', sans-serif;
    color          : #24252A;
    text-decoration: none;
}

.header-container {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 10px 40px 0px;
    height         : 120px;
}

.title-div {
    z-index    : 2;
    font-weight: 500;
    font-size  : 35px;
    width      : 30%;
}

.menu-div {
    width    : 40%;
    font-size: 20px;
}

.menu-box {
    display        : flex;
    list-style     : none;
    justify-content: space-around;
}

.service-div {
    width          : 30%;
    display        : flex;
    justify-content: space-around;
    font-size      : 20px;
}



/*  */

#menu-toggle {
    opacity: 0;
    display: none;
}

#menu-toggle:checked+.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked+.menu-btn>span::before {
    top      : 0;
    transform: rotate(0deg);
}

#menu-toggle:checked+.menu-btn>span::after {
    top      : 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menu-box {
    left: 0 !important;
}

@media (max-width: 1250px) {

    .title-div {
        width: 50%;
    }

    .menu-toggle {
        display: block;
    }

    .menu-div {
        width          : 50%;
        display        : flex;
        justify-content: end;
        padding-right  : 40px;
    }

    .service-div {
        display: none;
    }

    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
        display            : block;
        position           : absolute;
        height             : 4px;
        width              : 30px;
        background-color   : black;
        transition-duration: .25s;
        z-index            : 2;
    }

    .menu-btn>span::before {
        content: '';
        top    : -8px;
    }

    .menu-btn>span::after {
        content: '';
        top    : 8px;
    }

    .menu-box {
        z-index            : 1;
        display            : flex;
        flex-direction     : column;
        align-items        : center;
        justify-content    : center;
        position           : fixed;
        top                : 0;
        left               : -100%;
        width              : 100%;
        height             : 100%;
        background-color   : #dde5e9;
        transition-duration: .25s;
    }

    .menu-box>li {
        font-size  : 1.5rem;
        font-weight: 400;
        padding    : 0px 0px 30px 0px
    }
}