.imageBox {
    display: flex;
    flex-wrap: wrap;
}

.image {
    flex-basis: 33.3%;
    height: 400px;
    background-color: powderblue;
    transition: background-color .5s;
}

.image:hover {
    background-color: gold;
}

