.imageBox {
    display: flex;
    flex-wrap: wrap;
}

.image {
    flex-basis: 33.3%;
}

.image > img {
    width: 100%;
}


@media screen and (max-width: 1500px) {
    .image {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .image {
        flex-basis: 100%;
    }
}